

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}.aboutus{
    padding-top: 85px;
    width: 650px;
    text-align: center;
}
.aboutus h1{
    font-size: 100px;
}.aboutus p{
    font-size: 18px;
    margin: 20px;
}

.story{
    color: white;
    padding: 0;
    background: #00457a;
    width: 100%;
    display: flex;
flex-direction: column;
align-items: center;
}.story h1{
font-size: 30px;
}.story p{
    font-size: 15px;
    color: white;
    line-height: 1.8rem;
    word-spacing: 2px;
    margin: 20px 0 20px 0;
}.story .i {
    width: 1080px;

}